@import "./utils/variables";
@import "./utils/mixins";

.page-login {
    .form {
        margin-right: auto;
        margin-left: auto;
        width: 30%;

        h1 {
            margin-bottom: 24px;
        }

        .button-blue {
            width: 100%;
            margin-bottom: 12px;
        }
    }
}