// font family
$font-family = "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px. 1.6rem=16px
$font-size-html           = 62.5%;
$font-size-base			  = 1.6rem;

/**************** color ****************/
// milligram
$color-initial = #fff;
$color-primary = #007FED; // button, link, form-input-border-focus 颜色
$color-secondary = #007FED; // button, link, hover,focus 颜色
$color-tertiary = #f4f5f6; // divider颜色
$color-quaternary = #d1d1d1; // form-input-border颜色

$color-black               = #394555;
$color-black-light         = #5b6575;
$color-black-lighter       = #8c96a6;
$color-blue                = #2c9fff;
$color-red                 = #ff0003;
$color-green               = #0ccc9e;
$color-gray                = #666;
$color-gray-light          = #999;
$color-yellow              = #CC9900;

/**************** font-weight ****************/
$font-weight-normal        = 400;
$font-weight-bolder        = 700;
$font-weight-bold          = 600;
$font-weight-light         = 300;
$font-weight-lighter       = 200;
