{% extends "generic/base.html" %}
{% block title %}Home{% endblock %}
{% block keywords %}muliti,muliti-page{% endblock %}

{% block style %}
<!-- inject:css -->
<link rel="stylesheet" href="/static/bundle/styles/index.css"/>
<!-- endinject -->
{% endblock %}

{% block content %}
<div class='container page-index'>
    <div class="content">
        <h1>Build Multi-Page Application</h1>
        <p>
            Build Multi-Page Application with Gulp
        </p>
        <a href="/login">
            <div class="button button-blue">Login</div>
        </a>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- inject:js -->
<!-- endinject -->
{% endblock %}
